body, html{
    height: 100%;
    margin: 0;
    font-size: 16px;
    font-weight: 400;
    font-family: "Sofia", sans-serif;
    line-height: 1.8em;
    color: #666;
}
.first-block, .second-block, .third-block, .fourth-block, .fifth-block, .sixth-block{
    position: relative;
    opacity: 0.80;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
span{
    line-height: 4.5rem;
}
.first-block{
    background-image: url(image/bg1.jpg);
    min-height: 100%;
}
.second-block{
    background-image: url(image/bg2.jpg);
    min-height: 100%;
}
.third-block{
    background-image: url(image/bg3.jpg);
    min-height: 100%;
}
.fourth-block{
    background-image: url(image/bg4.jpg);
    min-height: 100%;
}
.fifth-block{
    background-image: url(image/bg5.jpg);
    min-height: 100%;
}
.sixth-block{
    background-image: url(image/bg6.jpg);
    min-height: 100%;
}
.section{
    text-align: center;
    padding: 50px 80px;
}
.intro-file-1{
    background-color: #f4f4f4;
    color: #666;
}
.intro-file-2{
    background-color: #370c0c94;
    color: #ddd;
}
.intro-file-3{
    background-color: #0d0d0ea9;
    color: rgb(252, 252, 252);
}
.intro-file-4{
    background-color: #123933a9;
    color: rgb(252, 252, 252);
}
.intro-file-5{
    background-color: #400d34a9;
    color: rgb(11, 11, 11);
}
.sub-part{
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    color: #000;
    font-size: 27px;
    letter-spacing: 8px;
    text-transform: uppercase;
}
.sub-part .text{
    background-color: #111;
    color: #fff;
    padding: 20px;
}
.sub-part .text.box{
    background-color: transparent;
}
@media(max-width:568px)
{
    .first-block, .second-block, .third-block
    {
        background-attachment: scroll;
    }
}